In [39]:
import pandas as pd 
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [40]:
#Determine the number of elements in fruits.
fruit_series = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

print(fruit_series.count())

17

In [41]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

In [21]:
fruit_series.values

array([['kiwi'],
       ['mango'],
       ['strawberry'],
       ['pineapple'],
       ['gala apple'],
       ['honeycrisp apple'],
       ['tomato'],
       ['watermelon'],
       ['honeydew'],
       ['kiwi'],
       ['kiwi'],
       ['kiwi'],
       ['mango'],
       ['blueberry'],
       ['blackberry'],
       ['gooseberry'],
       ['papaya']], dtype=object)

In [42]:
fruit_series.dtype

dtype('O')

In [25]:
fruit_series.head

<bound method NDFrame.head of                    0
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya>

In [26]:
fruit_series.sample(2)

         0
11    kiwi
6   tomato

In [27]:
fruit_series.describe()

           0
count     17
unique    13
top     kiwi
freq       4

In [43]:
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [30]:
fruit_series.value_counts().head(1)

kiwi    4
dtype: int64

In [31]:
fruit_series.value_counts().tail(1)

watermelon    1
dtype: int64