In [14]:
import pandas as pd 
fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
df = pd.DataFrame(fruit_list)

In [15]:
#Determine the number of elements in fruits.
fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

print(df.count())

0    17
dtype: int64

In [17]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [21]:
df.values

array([['kiwi'],
       ['mango'],
       ['strawberry'],
       ['pineapple'],
       ['gala apple'],
       ['honeycrisp apple'],
       ['tomato'],
       ['watermelon'],
       ['honeydew'],
       ['kiwi'],
       ['kiwi'],
       ['kiwi'],
       ['mango'],
       ['blueberry'],
       ['blackberry'],
       ['gooseberry'],
       ['papaya']], dtype=object)

In [24]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [25]:
df.head

<bound method NDFrame.head of                    0
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya>

In [26]:
df.sample(2)

         0
11    kiwi
6   tomato